/* Leave more space between lines of text in tables. */

html.writer-html5 .rst-content table.docutils td>p {
  line-height: 1.5em;
}

/* Let the content expand with the window. */

.wy-nav-content {
  max-width: none;
}

/* Disable the horizontal scrollbar on tables. */

.wy-table-responsive {
  overflow-x: hidden;
}

/* Let table content word-wrap. */

.wy-table-responsive table td, .wy-table-responsive table th {
  white-space: inherit;
}

/* Hide "Listing ..." text in captions */

.rst-content .caption-number {
  display: none;
}

/* Left align captions. */

.rst-content .code-block-caption {
  text-align: left;
}
