# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Code owners:

* @NaureenBharwaniNOAA @christinaholtNOAA @elcarpenterNOAA @fgabelmannjr @maddenp-noaa @weirae

# Documentation owners:

.readthedocs.yaml @christinaholtNOAA @jprestop @maddenp-noaa
docs/* @christinaholtNOAA @jprestop @maddenp-noaa
