# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Side-wide code owners:

* @NaureenBharwaniNOAA @christinaholtNOAA @elcarpenterNOAA @fgabelmannjr @maddenp-noaa @weirae

# Documentation-system config owners:

.readthedocs.yaml @christinaholtNOAA @jprestop @maddenp-noaa
docs/* @christinaholtNOAA @jprestop @maddenp-noaa
