name: Run Pylint
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:
    branches:
      - develop

jobs:
  CodeQualityCheck:
    name: Check Python code quality with Pylint
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install pytest
        pip install .

    - name: Analyzing uwtools with pylint
      run: |
        cd src
        pylint uwtools

    - name: Analyzing tests with pylint
      run: |
        python -m pylint tests
