name: release
env:
  GH_TOKEN: ${{ github.token }}
on:
  push:
    branches:
      - main
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Check For Existing Tag
        run:  .github/scripts/tag-check
      - name: Tag
        run: .github/scripts/tag-create
