name: Test
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - '**'
  workflow_dispatch:
    branches:
      - '**'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Conda
        run: .github/scripts/install-conda.sh
      - name: Make Docs
        run: .github/scripts/make-docs.sh
      - name: Check Formatting
        run: .github/scripts/format-check.sh
      - name: Validate YAML Configs
        run: .github/scripts/validate-yaml-configs.sh
      - name: Code-Quality Tests
        run: .github/scripts/test.sh
