name: Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
    branches:
      - '**'
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install conda
        run: .github/scripts/install-conda.sh
      - name: Make Docs
        run: .github/scripts/make-docs.sh
      - name: Format Check
        run: .github/scripts/format-check.sh
      - name: Test
        run: .github/scripts/test.sh
      - name: Test Notebooks
        run: .github/scripts/test-nb.sh
