name: Test
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop
  workflow_dispatch:
    branches:
      - develop
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install conda
        run:  .github/scripts/install-conda
      - name: Make Package
        run:  .github/scripts/make-package
      - shell: bash
        name: Format Check
        run:  .github/scripts/format-check
